<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons.css">
            <style type = "text/css">
         html{
         margin: 0px;
         padding: 0px;
         border: 0px;
         }
         h1{
         font-family: 'Big Caslon';
         color: #001f3f;
         font-size: 48px;
         font-weight: 500;
         }
         #form{
         font-family: 'Big Caslon';
         color: #3D9970;
         font-size: 28px;
         font-weight: 50;
         }

    	body{
    	background: url("http://i.imgur.com/wxCBt91.jpg");
    	background-size: cover;
        }



      </style>
            <title> Insta Haiku </title>
            <link rel="shortcut icon" href="https://pbs.twimg.com/profile_images/471905755151339524/J4agoDnj.png">
            </head>
            <body>
                <h1 style="text-align: center"> I N S T A &nbsp;  H A I K U
                </a>
                <br>
                    </h1>
                    <center>
                        <form action = "/response" , method="POST">
                            <br>
                                        <div id = "form" > Enter a Word: </div>
                                        <br>
                                            <input type="text" name="name">
                                                <br>
                                                    <br>
                                                        <input type="submit" value="Submit">
                                                        </form>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </body>
                                </html>